services:
  web:
    image: 'gitlab/gitlab-ee:latest'
    restart: always
    hostname: 'localhost'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost'
    ports:
      - '80:80'
      - '443:443'
      - '20000:22'
    volumes:
      - './config:/etc/gitlab'
      - './logs:/var/log/gitlab'
      - './data:/var/opt/gitlab'
    healthcheck:
      test: ["CMD", "/opt/gitlab/bin/gitlab-healthcheck", "--fail-fast"]
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 60s
    networks:
    - gitlab-network
    - argo-gitlab

networks:
  gitlab-network:
    driver: bridge
  argo-gitlab:
    external: true